<template>
  <div>
    <h1>Register</h1>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <form action=""
          method="post"
          @submit.prevent="submitForm()">

          <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.first_name }"
              v-model="first_name">
            <div class="invalid-feedback" v-if="errors && errors.first_name">
              {{ errors.first_name.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.last_name }"
              v-model="last_name">
            <div class="invalid-feedback" v-if="errors && errors.last_name">
              {{ errors.last_name.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.email }"
              v-model="email">
            <div class="invalid-feedback" v-if="errors && errors.email">
              {{ errors.email.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control"
              :class="{ 'is-invalid': errors && errors.password }"
              v-model="password">
            <div class="invalid-feedback" v-if="errors && errors.password">
              {{ errors.password.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control"
              :class="{ 'is-invalid': errors && errors.passwordConfirmation }"
              v-model="passwordConfirmation">
            <div class="invalid-feedback" v-if="errors && errors.passwordConfirmation">
              {{ errors.passwordConfirmation.msg }}
            </div>
          </div>

          <input type="submit" value="Register" class="btn btn-primary mr-3">
          <nuxt-link to="/" class="btn btn-secondary mr-3">Cancel</nuxt-link>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  auth: 'guest',
  data(){
    return{
      errors:null,
      first_name:null,
      last_name:null,
      email:null,
      password:null,
      passwordConfirmation:null,
      status:false,
    }
  },

  methods:{
    submitForm(){
      this.$axios.post( '/api/v1/auth/register', {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password: this.password,
          passwordConfirmation: this.passwordConfirmation
        })
        .then((response) => {
          console.log(response)

          if(response.data._id){
            this.$router.push({ name:'user-login', params:{ registered:'yes' } })
            // log in if successfully registered
            this.$auth.loginWith('local', {
                data: {
                  email: this.email,
                  password: this.password
                }
              })
              .catch( (error) => {
                console.log(error)
              })
          }
        })
        .catch( (error) => {
          console.log(error)
          if(error.response.data.errors){
            this.errors = error.response.data.errors
          }
        });
    }
  }
}
</script>
