<template>
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h1>Users</h1>
      <nuxt-link to="/users/add" class="btn btn-success">Add New</nuxt-link>
    </div>
    <hr>

    <div class="alert alert-success"
      v-if="$route.params.created=='yes'">Record added successfully</div>
    <div class="alert alert-success"
      v-if="$route.params.deleted=='yes'">Record deleted successfully</div>

    <!-- <div class="list-group"
      v-if="users.length">
      <nuxt-link
        class="list-group-item list-group-item-action"
        :to="'/users/' + user._id"
        v-for="user in users"
        :key="user._id">
        {{ user.first_name }} {{ user.last_name }}
      </nuxt-link>
    </div> -->

    <!-- <div class="alert alert-info"
      v-else>
      No records found.
    </div> -->

    <div class="overflow-auto">
    <b-table
      id="users-table"
      :columns="columns"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      small
    ></b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="users-table"
    ></b-pagination>

    <p class="mt-3">Current Page: {{ currentPage }}</p>

    </div>

  </div>
</template>



<script>
export default {

  middleware: 'auth',

  data() {
    return {
      perPage: 5,
      currentPage: 1,
      columns: [
        {
          label: 'First Name',
          field: 'first_name',
        },
        {
          label: 'Last Name',
          field: 'last_name',
        },
        {
          label: 'Email',
          field: 'email',
        },
        {
          label: 'Phone',
          field: 'phone',
        },
        {
          label: 'Address',
          field: 'address',
        },
      ],
      items: []
    }
  },
  computed: {
    rows() {
      return this.items.length
    }
  },
  mounted() {
    this.getUserData()
  },

  methods: {
    async getUserData() {
      this.$axios.get('/api/v1/users').then((res) => {
        this.items = res.data.users
      })
    },
  }


}
</script>
