<template>
  <div>
    <h1>User Details</h1>

    <hr>

    <div class="alert alert-success"
      v-if="$route.params.updated=='yes'">Record updated successfully</div>

    <h2>{{ user.first_name }} {{ user.last_name }}</h2>

    <h6> Email : {{ user.email }}</h6>
    <h6> Phone : {{ user.phone }}</h6>

    <p>Address : {{ user.address }}</p>

    <hr>
    <div class="d-flex justify-content-between">
      <div>
        <nuxt-link :to="'/users/' + user._id + '/update'" class="btn btn-primary mr-3">Update</nuxt-link>
        <button class="btn btn-danger" @click="deleteRecord()">Delete</button>
      </div>
      <nuxt-link to="/users" class="btn btn-secondary mr-3">Back to users</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  async asyncData(context){
    const {data} = await context.$axios.get('/api/v1/users/' + context.route.params.id)
    return {
      user : data.user
    }
  },

  methods:{
    deleteRecord(){
      if(confirm("Are you sure?") === true){
        this.$axios.delete('/api/v1/users/' + this.$route.params.id)
          .then((response) => {
            if(response.data._id){
              this.$router.push({ name:'users', params:{ deleted:'yes' } })
            }
          })
          .catch( (error) => {
            console.log(error);
          });
      }
    }
  }
}
</script>
