<template>
  <div>
    <h1>Update User</h1>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <form action=""
          method="post"
          @submit.prevent="submitForm()">

          <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.first_name }"
              v-model="first_name">
            <div class="invalid-feedback" v-if="errors && errors.first_name">
              {{ errors.first_name.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.last_name }"
              v-model="last_name">
            <div class="invalid-feedback" v-if="errors && errors.last_name">
              {{ errors.last_name.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.email }"
              v-model="email">
            <div class="invalid-feedback" v-if="errors && errors.email">
              {{ errors.email.msg }}
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control"
              :class="{ 'is-invalid': errors && errors.password }"
              v-model="password">
            <div class="invalid-feedback" v-if="errors && errors.password">
              {{ errors.password.msg }}
            </div>
          </div> -->

          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control"
              :class="{ 'is-invalid': errors && errors.phone }"
              v-model="phone">
            <div class="invalid-feedback" v-if="errors && errors.phone">
              {{ errors.phone.msg }}
            </div>
          </div>

          <div class="form-group">
            <label for="">Address</label>
            <textarea cols="30" rows="4" class="form-control"
              :class="{ 'is-invalid': errors && errors.address }"
              v-model="address"></textarea>
            <div class="invalid-feedback" v-if="errors && errors.address">
              {{ errors.address.msg }}
            </div>
          </div>

          <input type="submit" value="Submit" class="btn btn-primary mr-3">
          <nuxt-link :to="'/users/' + $route.params.id" class="btn btn-secondary mr-3">Cancel</nuxt-link>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  async asyncData(context){
    const {data} = await context.$axios.get('/api/v1/users/' + context.route.params.id)
    return {
      user : data.user
    }
  },

  data(){
    return{
      errors:null,
      first_name:null,
      last_name:null,
      email:null,
      // password:null,
      phone:null,
      address:null,
    }
  },

  mounted(){
    this.fillFormData()
  },

  methods:{
    fillFormData(){
      this.first_name = this.user.first_name
      this.last_name = this.user.last_name
      this.email = this.user.email
      // this.password = this.user.password
      this.phone = this.user.phone
      this.address = this.user.address
    },

    submitForm(){
      this.$axios.patch( '/api/v1/users/' + this.$route.params.id , {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          // password: this.password,
          phone: this.phone,
          address: this.address,
        })
        .then((response) => {
          console.log(response)

          if(response.data._id){
            this.$router.push({ name:'users-id', params:{ updated:'yes', id: this.$route.params.id } })
          }
        })
        .catch( (error) => {
          console.log(error)
          if(error.response.data.errors){
            this.errors = error.response.data.errors
          }
        });
    }
  }
}
</script>
